.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header button{
    height: 30px;
}


.main-dash{
    flex: 5;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.main-dash-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.main-dash-header-content{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.main-dash-header-title{
    font-weight: 600;
    font-size: 1.5rem;
}
.main-dash-header-desc{
    font-weight: 400;
    font-size: 1rem;
    color: #aaa;
}

.main-dash-header-btns{
    display: flex;
    gap: 10px;
}

.main-dash-header-btns-item{
    padding: 7px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid #cccb;
    border-radius: 8px;
}
.export-btn:hover{
    background-color: #f5f5f5;
}
.new-campaign-btn{
    background-color: black;
    color: #fff;
}

.main-dash-content-summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.main-dash-content-summary-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    border: 1px solid #cccb;
    padding: 25px;
    border-radius: 10px;
    width: 215px;
}

.main-dash-content-summary-item-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-weight: 500;
    font-size: 0.9rem;
}

.main-dash-content-summary-item-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.summary-item-number{
    font-size: 1.5rem;
    font-weight: 700;
}

.summary-item-desc{
    font-size: 0.7rem;
    font-weight: 400;
    color: #18ca15;
}
.summary-item-desc-down{
    font-size: 0.7rem;
    font-weight: 400;
    color: red;
}


.main-dash-content-perf-reca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
    height: 270px;
}

.main-dash-content-performance{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #cccb;
    border-radius: 10px;
    padding: 20px;
    gap: 30px;
    height: 100%;
}

.main-dash-performance-title{
    text-align: left;
}

.main-dash-performance-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-dash-performance-content-item{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.performance-item-content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.performance-item-content-message{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.performance-item-content-message-title{
    font-weight: 600;
    font-size: 0.95rem;
}
.performance-item-content-message-desc{
    font-weight: 400;
    font-size: 0.85rem;
    color: #aaa;
}
.pf-item-res-rate{
    align-items: end;
}

.pf-icon{
    padding: 7px;
    align-items: center;
    border-radius:8px;
}
.mail-icon{
    background-color: #007AFF;
    
}
.sms-icon{
    background-color: #02cb48;
}
.phone-icon{
    background-color: #af54e7;
}
.main-dash-content-recent-activity{
    flex:1;
    border: 1px solid #cccb;
    border-radius: 10px;
    padding: 20px;
    gap: 30px;
    height: 100%;
}

.recent-activity-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.rc-act-view-all-btn{
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.recent-activity-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.recent-activity-content-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.recent-activity-content-item-header{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.rec-act-item-header-title{
    font-weight: 600;
    font-size: 0.9rem;
}
.rec-act-item-header-desc{
    font-weight: 400;
    font-size:0.85rem;
    color: #aaa;
}
.rec-act-item-revenue{
    font-weight: 600;
    font-size: 1rem;
    color:#18ca15;
}

.main-dash-content-quick-actions{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
    margin: 10px;
    padding: 30px;
    gap: 30px;
    border: 1px solid #cccb;
    border-radius: 10px;
}

.quick-actions-content{
    display: flex;
    gap: 20px;
}

.quick-actions-content-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #cccb;
    border-radius: 10px;
    padding:20px 50px;
    width: 150px;
}

.quick-actions-content-item:hover{
    background-color: #f5f5f5;
}

.quick-actions-content-item-title{
    font-weight: 600;
    font-size: 0.9rem;
}